@if(cardLayout == 'horizontal') {
<div class="card card-side bg-base-100 shadow-xl flex flex-row items-center max-h-40">
  <figure>
    <img src="https://picsum.photos/1920/1080.webp" alt="Shoes" class="card-image" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      {{event?.title}}
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>{{event?.abstract}}</p>
    <div class="card-actions justify-end">
      @for(category of event?.categories; track 'table_' + category?.id) {
      <div class="badge badge-outline">
        <Icon [icon]="category?.icon || 'home'" className="me-2" />{{category?.name }}
      </div>
      }
    </div>
  </div>
</div>
} @else {
<div class="card bg-base-100 shadow-xl card-vertical">
  <figure>
    <img src="https://picsum.photos/1920/1080.webp" alt="Shoes" />
  </figure>
  <div class="card-body h-100">
    <h2 class="card-title">
      {{event?.title}}
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>{{event?.abstract}}</p>
    <div class="card-actions justify-end">
      @for(category of event?.categories; track 'grid_' + category?.id) {
      <div class="badge badge-outline">{{category?.name}}</div>
      }
    </div>
  </div>
</div>
}
