<div class=" min-h-screen bg-gradient-to-r from-purple-500 to-blue-500">
  <div class="backdrop-blur-md bg-white/30 rounded-lg shadow-lg">
    <div class="bg-slate-900 bg-opacity-65">
      <div class="drawer lg:drawer-open">
        <input id="main-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content min-h-screen px-8">
          <!-- Page content here -->
          <div class="w-auto">
            <div class="">
              <app-navbar></app-navbar>
              <section name="content" class="mt-[80px]">
                <ng-content></ng-content>
              </section>
            </div>
          </div>
          <!-- ##### -->
        </div>
        <div class="drawer-side z-30 bg-base-200">
          <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
          <ul class="menu text-base-content min-h-full w-60 p-4">
            <!-- Menu Items -->
            @for (item of menuItems; track $index) {
            <li>
              <a routerLink="{{item.route}}" routerLinkActive="active">
                <Icon [icon]="item.icon" className="mr-2" />
                {{item.label}}
              </a>
            </li>
            }
            <!-- End Menu Items -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
